* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

header {
  grid-area: header;
  background: #221f1f; }

aside {
  grid-area: aside;
  background: greenyellow; }

main {
  grid-area: main;
  background: grey; }

footer {
  grid-area: footer;
  background: honeydew; }

.container {
  max-width: 1200px;
  margin: auto; }

.grid-container {
  display: grid;
  grid-template-areas: "header header header header header" "aside main main main main" "footer footer footer footer footer"; }
  .grid-container header .header-advertising {
    background: #f0d480;
    text-align: center; }
  .grid-container header .header {
    color: white; }
    .grid-container header .header .container {
      display: flex;
      justify-content: space-between;
      align-items: center; }
